/*******************************************************************************
variables - all global and pallete variables for project
*******************************************************************************/

:root {
  /* colors palette */
  --c-porcelain: #dbd9d7;
  --c-meteorite: #403b64;

  /* font families palette */
  --font-serif: "IM FELL DW Pica", serif;

  /* root typography */
  --root-lineHeight: 1.666;

  /* leading size for all spacing between elements to be pretty */
  --s-leading: calc(var(--root-lineHeight) * 1rem);
}
