book-section,
characters-label,
characters-person,
dialogue-didascalia,
dialogue-speech,
scene-didascalia {
  display: block;
  width: 100%;
}

characters-label:not(:last-child),
characters-person:not(:last-child),
dialogue-didascalia:not(:last-child),
dialogue-speech:not(:last-child),
scene-didascalia:not(:last-child) {
  padding-bottom: var(--s-leading);
}

/* book sections */

book-section {
  display: block;
  min-height: 100vh;
  padding-left: calc(var(--s-leading) * 2);
  padding-right: calc(var(--s-leading) * 2);
}

book-section:not(:last-child) {
  padding-top: var(--s-leading);
  padding-bottom: var(--s-leading);
}
book-section[is="act-title"] h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: calc(var(--s-leading) * 3);
}
book-section[is="book-ending"] {
}
book-section[is="book-title"] {
  text-align: center;
}
book-section[is="book-title"] h1 {
  font-size: 4rem;
  line-height: calc(var(--s-leading) * 4);
}
book-section[is="book-title"] h2 {
  font-size: 2rem;
  line-height: calc(var(--s-leading) * 2);
}
book-section[is="characters"] h1 {
  text-align: center;
  font-size: 2rem;
  line-height: calc(var(--s-leading) * 2);
}
book-section[is="scene"] h1 {
  text-align: center;
  font-size: 2rem;
  line-height: calc(var(--s-leading) * 2);
}
book-section[is="table-of-contents"] {
}

/* characters */

characters-person person-name {
  font-weight: 700;
}

/* dialogue  */

dialogue-didascalia {
}
dialogue-speech {
  font-style: italic;
  white-space: pre-line;
  position: relative;
  margin-left: var(--s-leading);
}
dialogue-speech::before {
  /* em dash and nbsp */
  content: "\2014\00a0";
  position: absolute;
  right: 100%;
}

/* scene didascalia */

scene-didascalia {
}
scene-didascalia[is="place"] {
  text-align: center;
}
scene-didascalia[is="summary"] {
  font-style: italic;
}
