/*******************************************************************************
user-action influenced states
*******************************************************************************/

:root {
  --focus-outline-c: var(--c-meteorite);
  --focus-outline-w: 0.25rem;
  --selection-txt-c: var(--c-root-bg);
  --selection-bg-c: var(--c-root-txt);
  --disabled-o: 0.5;
}

/* links */

a {
  text-decoration: underline;
}

a:hover {
  opacity: color(var(--c-root-text) tint(20%));
}

a:active {
  opacity: 0.6;
}

a:visited {
  opacity: 0.6;
}

/* text selection */

:focus {
  outline: var(--focus-outline-c) auto var(--focus-outline-w);
}

::-moz-focus-inner {
  border: 0;
}

::selection {
  background-color: var(--selection-bg-c);
  color: var(--selection-txt-c);
}
