/*******************************************************************************
user-action influenced states
*******************************************************************************/

:root {
  --focus-outline-c: var(--c-meteorite);
  --focus-outline-w: 0.25rem;
  --selection-txt-c: var(--c-porcelain);
  --selection-bg-c: var(--c-meteorite);
}

/* links */

a[href] {
  text-decoration: underline;
}

a[href]:hover {
  color: color(var(--c-meteorite) tint(20%));
}

a[href]:active {
  color: color(var(--c-meteorite) tint(30%));
}

/* text selection */

:focus {
  outline: var(--focus-outline-c) auto var(--focus-outline-w);
}

::-moz-focus-inner {
  border: 0;
}

::selection {
  background-color: var(--selection-bg-c);
  color: var(--selection-txt-c);
}
