/*******************************************************************************
base typographic rules
*******************************************************************************/

ul,
ol {
  margin-left: var(--s-leading);
  padding: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

small,
sub,
sup {
  font-size: 75%;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
